
<h1 id="raj">Details of employee</h1>
name:<h4 id="name">Rajesh</h4>
phone:<h4 id="phone">9953484909</h4>
email:<h4 id="email">rai@807949@gmail.com</h4>
<button id="change">change</button>
<p id="demo"></p>




<script>
	document.getElementById("change").onclick = changeText;

  function changeText() {
    document.getElementById("name").innerHTML = "tarun";
    document.getElementById("phone").innerHTML = "9711447157";
    document.getElementById("email").innerHTML = "rajeshrai3054@gmail.com";
  }
  f
</script>