
<%= render :partial => 'layouts/careersheader'%>
<section class="section-space">
  <div class="container">
    <div class="row">
      <div class="careers no_bg">
        <div class="col-md-8">
          <div class="opening-head">Current Openings</div>
          <div class="opening-list">
            <div class="entry-content-wrapper">
              <div class="entry-content-header">
                <h2>Senior Software Engineer / Software Engineer</h2>
              </div>
              <div class="slide-meta job-listing-meta top">
                <div class="job-meta slide-meta-exp">
                  <span class="jobs-icon exp"></span>3 - 6 years
                </div>
                <div class="job-meta slide-meta-sal">
                  <span class="jobs-icon rup"></span>4,00,000 to 6,00,000 P.A
                </div>
                 <div class="job-meta slide-meta-loc">
                  <span class="jobs-icon loc"></span>Faridabad
                </div>
              </div>
            <div class="slide-meta job-listing-meta bottom">
                <div class="job-meta slide-meta-exp">
                  <span class="edu_icon"></span>B. Tech/B.E. or MCA/M. Tech
                </div>
                <div class="job-meta slide-meta-exp">
                  <span class="tech_icon"></span>HTML/ CSS/ Jquery/ Javascript/ Ruby/ Postgresql/ MVC
                </div>
            </div>
              <div class="entry-content job-description-box">
                <p>
                    Key Skills: <br>
                    <span class="circular_dots"></span>Hands-on experience of working in different Ruby on Rails applications for at least 1 year <br>
                    <span class="circular_dots"></span>
                    <span class="circular_content">Knowledge of Ruby 2.1 and Rails 4.2.x</span> <br>
                    <span class="circular_dots"></span>
                    <span class="circular_content">Strong knowledge in Object-oriented Design and Analysis</span> <br>
                    <span class="circular_dots"></span>
                    <span class="circular_content">Strong knowledge of database technologies (Postgres, MySQL, Sqlite)</span><br>
                    <span id="dotsone">...</span>
                    <span id="moreone"> 
                        <span class="circular_dots"></span>
                        <span class="circular_content">Experience with XHTML, CSS, JavaScript</span><br>
                        <span class="circular_dots"></span>
                        <span class="circular_content">Working knowledge of git, delayed jobs</span><br>
                        <span class="circular_dots"></span>
                        <span class="circular_content">Experience in writing a Test-driven code using any testing tools. Knowledge of Rspec</span><br>
                        <span class="circular_dots"></span>
                        <span class="circular_content">Comfortable working in an Agile environment and should have knowledge about scrum methodology</span><br>
                        <span class="circular_dots"></span>
                        <span class="circular_content">Excellent written and verbal communication skills</span><br>
                    </span>
                    <a onclick="oneFunction()" id="myBtnone" class="read_more_btn">Read more</a>
                </p>
              </div>
              <a href="#" class="apply">Apply</a>
            </div>
          </div>
            
            <div class="opening-list">
            <div class="entry-content-wrapper">
              <div class="entry-content-header">
                <h2>UI/UX Developer</h2>
              </div>
              <div class="slide-meta job-listing-meta top">
                <div class="job-meta slide-meta-exp">
                  <span class="jobs-icon exp"></span>1 - 3 years
                </div>
                <div class="job-meta slide-meta-sal">
                  <span class="jobs-icon rup"></span>1,20,000 to 2,40,000 P.A
                </div>
                 <div class="job-meta slide-meta-loc">
                  <span class="jobs-icon loc"></span>Faridabad
                </div>
              </div>
            <div class="slide-meta job-listing-meta bottom">
                <div class="job-meta slide-meta-exp">
                  <span class="edu_icon"></span>Any Graduate
                </div>
                <div class="job-meta slide-meta-exp">
                  <span class="tech_icon"></span>HTML / Bootstrap / CSS3 / JavaScript
                </div>
            </div>
              <div class="entry-content job-description-box">
                <p>
                    Key Skills: <br>
                    <span class="circular_dots"></span>
                    <span class="circular_content">Good understanding of front-end optimization techniques, cross-browser compatibility and Responsive web design.</span> <br>
                    <span class="circular_dots"></span>
                    <span class="circular_content">Design and create responsive mock-ups and user journeys for a wide range of devices including Web & mobile</span><br>
                    <span class="circular_dots"></span>
                    <span class="circular_content">Good understanding of HTML5, JavaScript/JQuery, CSS, AJAX coupled with experience related to cross-browser compatibility issues</span> <br>
                    <span class="circular_dots"></span>
                    <span class="circular_content">Working knowledge of at least one framework among Bootstrap / Foundation / Google/ Angular.js,etc.</span><br>
                    <span id="dotstwo">...</span>
                    <span id="moretwo"> 
                        <span class="circular_dots"></span>
                        <span class="circular_content">Design and deliver wireframes, user stories, user journeys, and mockups optimized for a wide range of devices and interfaces.</span><br>
                        <span class="circular_dots"></span>
                        <span class="circular_content">Should have a good knowledge in UI design fundamentals</span><br>
                        <span class="circular_dots"></span>
                        <span class="circular_content">Experience with Html, CSS, JavaScript, AJAX, JQuery skills are a plus</span><br>
                        <span class="circular_dots"></span> 
                        <span class="circular_content">Hands on experience in Photoshop,XD, Illustrator, Flash, and Flex from the Adobe Creative Suite, Corel Draw, InVision,Fireworks, Visio,Dreamweaver, Inkscape</span><br>
                        <span class="circular_dots"></span>
                        <span class="circular_content">Worked on data visualization libraries like D3, Google Charts, Highcharts etc</span><br>
                        <span class="circular_dots"></span>
                        <span class="circular_content">Translate concepts into wireframes and mockups that lead to intuitive user experiences</span><br>
                        <span class="circular_dots"></span>
                        <span class="circular_content">Take a user-centered design approach and rapidly test and iterate your designs.</span><br>
                        <span class="circular_dots"></span>
                        <span class="circular_content">Identify design problems and devise elegant solutions</span><br>
                    </span>
                    <a onclick="twoFunction()" id="myBtntwo" class="read_more_btn">Read more</a>
                </p>
              </div>
              <a href="#" class="apply">Apply</a>
            </div>
          </div>
            
        </div>
        <div class="col-md-4">
          <div class="cv-block">
            <div class="drop-cv">
              <h3>Drop your CV here</h3>
              <p>We will consider your Profile for future Jobs</p>
            </div>
            <a href="submit-profile.html" class="drop-cv-btn">Drop CV</a>
          </div>
        </div>
      </div>      
    </div>
  </div>
</section>
    
<script src="js/header.js"></script>
<script>
    function oneFunction() {
      var dots = document.getElementById("dotsone");
      var moreText = document.getElementById("moreone");
      var btnText = document.getElementById("myBtnone");

      if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.innerHTML = "Read more"; 
        moreText.style.display = "none";
      } else {
        dots.style.display = "none";
        btnText.innerHTML = "Read less"; 
        moreText.style.display = "inline";
      }
    }
</script>
    <script>
    function twoFunction() {
      var dots = document.getElementById("dotstwo");
      var moreText = document.getElementById("moretwo");
      var btnText = document.getElementById("myBtntwo");

      if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.innerHTML = "Read more"; 
        moreText.style.display = "none";
      } else {
        dots.style.display = "none";
        btnText.innerHTML = "Read less"; 
        moreText.style.display = "inline";
      }
    }
</script>
    <script>
    function threeFunction() {
      var dots = document.getElementById("dotsthree");
      var moreText = document.getElementById("morethree");
      var btnText = document.getElementById("myBtnthree");

      if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.innerHTML = "Read more"; 
        moreText.style.display = "none";
      } else {
        dots.style.display = "none";
        btnText.innerHTML = "Read less"; 
        moreText.style.display = "inline";
      }
    }
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-529c454d19cb98ca"></script>
</body>
</html>
