<%= render :partial => 'layouts/casestudiesheader'%>
<section class="section-space">
  <div class="container">
    <div class="col-lg-12">
      <div class="col-md-4 col-sm-6 col-xs-12 case-studies-main">
        <a href="case-studies-details-netgym.html">
          <div class="case-studies-box">
            <figure>
              <%= image_tag "netgym.jpg" %>
              <figcaption>
                <span>NetGym is US based Fitness Company which helps...</span>
                <span>San Francisco, United States</span>
              </figcaption>
            </figure>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 case-studies-main">
        <a href="case-studies-details-trademarks.html">
          <div class="case-studies-box">
            <figure>
              <%= image_tag "trademark.jpg" %>
              <figcaption>
                <span>Trademarks411 allows companies and brands to file...</span>
                <span>Santa Barbara, CA</span>
              </figcaption>
            </figure>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 case-studies-main">
        <a href="case-studies-details-gaonic.html">
          <div class="case-studies-box">
            <figure>
              <%= image_tag "gaonic.jpg" %>
              <figcaption>
                <span>Gaonic.. A Industrial IoT SaaS for Industrial...</span>
                <span>Yarhiv, Israel</span>
              </figcaption>
            </figure>
          </div>
        </a>
      </div>
<!--
      <div class="col-md-4 col-sm-6 col-xs-12 case-studies-main">
        <a href="#">
          <div class="case-studies-box">
            <figure>
              <img src="images/markly.jpg" alt="Image">
              <figcaption>
                <span>Lorem Ipsum is simply dummy text of the printing...</span>
                <span>simply dummy text, US</span>
              </figcaption>
            </figure>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 case-studies-main">
        <a href="#">
          <div class="case-studies-box">
            <figure>
              <img src="images/qsee.jpg" alt="Image">
              <figcaption>
                <span>Lorem Ipsum is simply dummy text of the printing...</span>
                <span>simply dummy text, US</span>
              </figcaption>
            </figure>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 case-studies-main">
        <a href="#">
          <div class="case-studies-box">
            <figure>
              <img src="images/greenstork.jpg" alt="Image">
              <figcaption>
                <span>Lorem Ipsum is simply dummy text of the printing...</span>
                <span>simply dummy text, US</span>
              </figcaption>
            </figure>
          </div>
        </a>
      </div>
-->
    </div>
  </div>
</section>
    


<script src="js/header.js"></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-529c454d19cb98ca"></script>
