<%= render :partial => 'layouts/contactusheader'%>
<section class="contact section-space">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="contact_form_box">
          <h3 class="c_box_title">
            CONNECT<span> WITH US</span>
          </h3>
          <p>Hey, Leave your query here.</p>
          <div>
            
              <div class="form-group clearfix">
                <div class="col-lg-6">
                  <input type="text" class="form-control" placeholder="Your Name">
                </div>
                <div class="col-lg-6">
                  <input type="text" class="form-control" placeholder="Subject">
                </div>
              </div>
              <div class="form-group clearfix">
                <div class="col-lg-6">
                  <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="col-lg-6">
                  <input type="text" class="form-control" placeholder="Phone">
                </div>
              </div>
              <div class="form-group clearfix">
                <div class="col-md-12">
                  <textarea class="form-control" placeholder="Message"></textarea>
                </div>
              </div>
              <div class="form-group clearfix">
                <input type="submit" value="Contact us" class="contact-btn">
              </div>

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="address-map">
          <div style="width: 100%"><iframe width="100%" height="400" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=Beryl%20Systems%20Private%20Limited%2C%20Sector%2011D%2C%20Pocket%20D%2C%20Sector%2011%2C%20Faridabad%2C%20Haryana+(Beryl%20Systems%20Private%20Limited)&amp;ie=UTF8&amp;t=&amp;z=17&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/map-my-route/">Create a route on google maps</a></iframe></div><br />
        </div>
      </div>
    </div>
  </div>
</section>
    

