<header class="nobg">
  <div class='zero-slider team-banner'>
    <div class='item'>
      <div class='slider-content text-center with_content'>
        <h2>
            Our Greatest Assets.    
        </h2>
          <p>We build a culture of trust and camaraderie for an environment to bolster creativity and innovation.</p>
      </div>
    </div>
  </div>
  <div class='wrap'>
    <div class='container'>
      <div class='row'>
        <div class='col-xs-12'>
          <nav class='navbar navbar-default navbar-header' role='navigation'>
            <button type="button" class="navbar-toggle butn" data-toggle="collapse" data-target="#smallNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a href='\'>
              <!-- <img alt='Logo' class='main-logo' src='images/logo.png'> -->
              <%= image_tag "logo.png", :class => "main-logo"%>
            </a>
            <ul class='top-menu' id="smallNavbar">
              <li><a data-target='.navbar-collapse' data-toggle='collapse' href='#'>Solutions</a>
                <ul class='submenu-data'>
                  <li><a href="mobile-solutions.html">Mobile Solutions</a></li>
                  <li><a href="web-solutions.html">Web Solutions</a></li>
                  <li class="dropdown-submenu">
                    <a href="#">Business Analytics <i class="ion-ios7-arrow-right"></i></a>
                    <ul class="dropdown-menu secod_drop">
                      <li><a href="big-data.html">Big Data Solutions</a></li>
                      <li><a href="advanced-analytics.html">Advanced Analytics</a></li>
                    </ul>
                  </li>
                  <li><a href='IoT-development.html'>IoT Development</a></li>
                  <li><a href='beryl-CRM.html'>Beryl CRM</a></li>
                  <li><a href='beryl-wms.html'>Beryl WMS</a></li>
                  <li><a href='beryl-ERP.html'>Beryl ERP</a></li>
                  <li><a href="#">Beryl Trac</a></li>
                </ul>
              </li>
              <li><a data-target='.navbar-collapse' data-toggle='collapse' href='/case-studies'>Case Studies</a></li>
              <li><a href='/team_beryl'>team beryl</a></li>
              <li><a href='/careers'>careers</a></li>
              <li><a href='/contact-us'>contact</a></li>
            </ul>
            <ul class='get-quote bg_menus'>
              <li>
                <a href='/contact-us'>Get a Quote</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>